::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #141416;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.active{
    color: #7294ff !important;
}